@using System.Threading.Tasks
<!DOCTYPE html>
<html ng-app="icbApp.public">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICB</title>


    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <ng-view></ng-view>

    <script src="~/js/libs.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
</body>
</html>
